/* for sidebar */
.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.text-img{
  width: 100px;
}
.bi{
  margin-right: 20px;

}
.story{
  height: 100px;
}
.profile-img{
width: 30px;
height: 30px;
}
.content-post{
  width: 410px;
  height: 403px;
}
.links a{
  color: var(--bs-secondary);
  text-decoration: none;
  font-size: 12px; 
  
}
.links a:hover{
  text-decoration: underline;
}